# Sentiment Analysis with Recurrent Neural Networks (RNN) and LSTM

#### Getting the data

In [2]:
# Import the datasaets from data folder
# Import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import nltk

In [3]:
# import data from txt
imdb = pd.read_csv('../data/imdb_labelled.txt', sep='\t', header=None)
imdb.head()

                                                   0  1
0  A very, very, very slow-moving, aimless movie ...  0
1  Not sure who was more lost - the flat characte...  0
2  Attempting artiness with black & white and cle...  0
3       Very little music or anything to speak of.    0
4  The best scene in the movie was when Gerardo i...  1

In [4]:
amazon = pd.read_csv('../data/amazon_cells_labelled.txt', sep='\t', header=None)
amazon.head()

                                                   0  1
0  So there is no way for me to plug it in here i...  0
1                        Good case, Excellent value.  1
2                             Great for the jawbone.  1
3  Tied to charger for conversations lasting more...  0
4                                  The mic is great.  1

In [5]:
yelp = pd.read_csv('../data/yelp_labelled.txt', sep='\t', header=None)
yelp.head()

                                                   0  1
0                           Wow... Loved this place.  1
1                                 Crust is not good.  0
2          Not tasty and the texture was just nasty.  0
3  Stopped by during the late May bank holiday of...  1
4  The selection on the menu was great and so wer...  1

In [11]:
# merge the datasets
data = pd.merge(imdb, amazon, how='outer')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1748 entries, 0 to 1747
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1748 non-null   object
 1   1       1748 non-null   int64
dtypes: int64(1), object(1)
memory usage: 27.4+ KB

In [14]:
data = pd.merge(data, yelp, how='outer')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2748 entries, 0 to 2747
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2748 non-null   object
 1   1       2748 non-null   int64
dtypes: int64(1), object(1)
memory usage: 43.1+ KB